{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="button">{{ title }}</button>
    {{ form_end(form) }}
{% endblock %}