{% extends 'layout.html.twig' %}

{% block title %}Roles{% endblock %}

{% block content %}
    <section>
        <div class="header-with-button">
            <h2>Roles</h2>
            <div class="add-button-container">
                <a href="{{ path('role_new') }}" class="button add_button">New</a>
            </div>
        </div>
        <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for role in roles %}
                <tr>
                    <td>{{ role.title }}</td>
                    <td>{{ role.description }}</td>
                    <td>
                        <div class="employee-actions">
                            <a class="button edit_button" href="{{ path('role_edit', { 'id': role.id }) }}"></a>
                            <a class="button delete_button" href="{{ path('role_confirm_delete', { 'id': role.id }) }}"></a>
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No roles found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </section>
{% endblock %}
