{% extends 'layout.html.twig' %}

{% block title %}Detail zaměstnance{% endblock %}

{% block content %}
    <section class="employee-detail">
        <div class="employee-detail-container">
            <div class="employee-image-container">
                {% if employee.image %}
                    <img src="{{ employee.image }}" alt="{{ employee.name }}" class="employee-image">
                {% else %}
                    <img src="{{ asset('images/new_user.png') }}" alt="Default Image" class="employee-image">
                {% endif %}
            </div>
            <div class="employee-info-container">
                <h2>{{ employee.name }}</h2>
                <p><strong>Funkce:</strong> {{ employee.role.title }}</p>
                <p><strong>Popis role:</strong> {{ employee.role.description }}</p>
                <p><strong>Kontaktní údaje:</strong> {{ employee.phone }}, {{ employee.email }}</p>
                <h3>Popis:</h3>
                <p>{{ employee.description }}</p>
            </div>
        </div>

        <div class="employee-actions">
            <a href="{{ path('employee_form', { id: employee.id }) }}" class="action-button btn-edit">
                <span class="icon">✏️</span> Edit
            </a>
            <form action="{{ path('employee_delete', { id: employee.id }) }}" method="post" style="display:inline;">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ employee.id) }}">
                <button type="submit" class="action-button btn-delete" onclick="return confirm('Are you sure you want to delete this employee?');">
                    <span class="icon">🗑️</span> Delete
                </button>
            </form>
        </div>
    </section>
{% endblock %}
