{% extends 'layout.html.twig' %}

{% block title %}{{ isNew ? 'Create New Employee' : 'Edit Employee - ' ~ employee.name }}{% endblock %}

{% block content %}
    <h1>{{ isNew ? 'Create New Employee' : 'Edit Employee - ' ~ employee.name }}</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
        {{ form_errors(form.phone) }}
    </div>

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="form-group">
        {{ form_label(form.roles) }}
        <div class="roles-container">
            {{ form_widget(form.roles) }}
        </div>
        {{ form_errors(form.roles) }}
    </div>


    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, { 'attr': { 'class': 'large-textarea' } }) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image) }}
        {{ form_errors(form.image) }}
    </div>

    <button type="submit" class="form-button">{{ isNew ? 'Create' : 'Update' }}</button>
    {{ form_end(form) }}
{% endblock %}
