{% extends 'layout.html.twig' %}

{% block title %}Účty zaměstnance{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/employee_accounts.css">
{% endblock %}

{% block content %}
    {% if employee %}
        <section id="accounts">
            <h2>Účty pro {{ employee.name }}</h2>
            <table>
                <thead>
                <tr>
                    <th>Název účtu</th>
                    <th>Typ účtu</th>
                    <th>Expirace</th>
                </tr>
                </thead>
                <tbody>
                {% for account in accounts %}
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.type }}</td>
                        <td>{{ account.expiration }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Žádné účty nejsou dostupné.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        <button onclick="location.href='?page=employee_detail&id={{ employee.id }}'">Detail zaměstnance</button>
    {% else %}
        <p>Employee data is missing.</p>
    {% endif %}
{% endblock %}
