<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/general.css') }}">
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/employees.css') }}">
    <link rel="stylesheet" href="{{ asset('css/employee_detail.css') }}">
    <link rel="stylesheet" href="{{ asset('css/employee_accounts.css') }}">
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">

</head>
<body>
<header>
    <h1>Evidence zaměstnanců</h1>
    <nav>
        <a class="button" href="{{ path('employee_index') }}">Titulní strana</a>
        <a class="button" href="{{ path('employees') }}">Zaměstnanci</a>
        <a class="button" href="{{ path('role_index') }}">Roles</a>
    </nav>

</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 Evidence zaměstnanců</p>
</footer>
</body>
</html>
