{% extends 'layout.html.twig' %}

{% block title %}Účty zaměstnance - {{ employee.name }}{% endblock %}

{% block content %}
    <section>
        <h2>Účty pro {{ employee.name }}</h2>
        <p>Role: {{ employee.role.title }}</p>
        <table>
            <thead>
            <tr>
                <th>Název účtu</th>
                <th>Typ účtu</th>
                <th>Expirace</th>
                <th>Upravit</th>
            </tr>
            </thead>
            <tbody>
            {% for account in accounts %}
                <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.type }}</td>
                    <td>{{ account.expiration }}</td>
                    <td>
                        <a href="{{ path('edit_account', { 'id': account.id }) }}" class="edit-button">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Žádné účty nejsou dostupné.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
